

.link {
    grid-area: 1 / 1 / 1 / -1;
    width: 100%;
    padding: 8px;
    border: 1px solid rgb(155, 155, 207);
    background-color: rgb(60, 34, 131);
    color:rgb(192, 212, 255);
    text-align: left;
}

.title {
    flex-grow: 1;
}

.commentsButton {
    grid-area: 1 / 2 / 1 / -1;
    justify-self: end;
    width: 90px;
    margin: 10px;
    border-radius: 0;
}

.commentsIcon {
    float: top;
    top: 0;
    width: 100%;
    image-rendering: pixelated;
}

.numComments {
    margin: 2px auto 0;
}

.linkContainer {
    grid-template-columns: 1fr 100px;
}
