


.searchBarContainer {
    position: relative;
    height: 50px;
    width: 100%;
    z-index: 3;
    transition: height 0.25s ease-in-out;

    &.collapsed {
        height: 10px;
    }
}

.searchBar {
    border-radius: 30px;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    border: none;
    background: radial-gradient(180% 120% at 95% 51%, transparent 20%, #997edff0);
    background-color: #8f91ff91;
    background-size: 100% 50px;
    background-repeat: no-repeat;
    font-family: "Fredoka", system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: 1.6em;
    font-weight: 450;
    text-align: center;
    vertical-align: top;
    box-shadow: 0px 1px 5px #3232511c;
    transition: background-color 0.3s ease-in-out;
}
.searchBar:focus {
    background-color: #6659ffc4;
}

@keyframes pulse{
  0% {
    background-color: #eeecffc4;
  }
  4% {
    background-color: #eeecffc4;
  }
  100% {
    background-color: #8f91ff91;
  }
}

.searchButton {
    position: absolute;
    right: 0;
    width: 50px;
    height: 100%;
    padding: 0;
    border-radius: 30px;
    background: radial-gradient(transparent 0%, #7562b9e5 90%);
    background-color: #6278b9e5;
    overflow: hidden;
    transition: background-color 0.4s cubic-bezier(.04,.52,.25,.97)
}
.searchButton:hover {
    background-color: #95c6ff;
    border-color: #8497ff6b;
    border-width: 2px;
}

.searchIcon {
    width: 100%;
    max-width: 20px;
    height: 100%;
    margin: auto;
}
.searchIcon path {
    fill: white;
}

#searchOptionsContainer {
    position: absolute;
    display: flex;
    width: 100%;
    height: 0;
    max-width: 860px;
    top: 74px;
    left: 50%;
    border-radius: 33px;
    padding-top: 50px;
    padding-bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
    overflow: hidden;
    z-index: 2;
    transform: translate(-50%, 0);
    opacity: 0;
    background-image: radial-gradient(90% 170% ellipse at 30% 0%, rgb(0, 169, 221) 50%,rgba(51, 225, 225, 0.59) 70%,rgba(49, 206, 191, 0.24) 85%,rgba(41, 219, 186, 0) 100%);
    text-align: left;
    align-items: first baseline;
    transition: height 0.2s ease-out, padding-top 0.2s ease-out, padding-bottom 0.25s ease-out, background-color 0.2s ease-out, transform 0.2s ease-out, opacity 0.2s ease-out;

    &.optionsOpen {
        height: 108px;
        padding-top: 70px;
        padding-bottom: 20px;
        background-color: #89cbcec4;
        transform: translate(-50%, 0);
        opacity: 1;

        &.subredditsType {
            background-color: #d7a67bb4;
        }
    }
}

.detailsTab {
    opacity: 1;
    transition: opacity 0.15s ease-in-out;

    &.optionsOpen {
        opacity: 0;
    }
}

.searchTypeSwitch {
    display: inline;
    margin-left: 6px;
}
.searchTypeButton {
    padding: 6px 10px;
    opacity: 0.5;
    font-size: 0.8em;
    transition: opacity 0.5s ease-out;

    &.active {
        opacity: 1;
    }
}
.postsTypeButton {
    background-color: rgb(19, 74, 146);
}
.subredditsTypeButton {
    background-color: rgb(136, 69, 14);
}



