


.searchBarContainer {
    display: flex;
    justify-content: center;
    height: 50px;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.searchBar {
    border-radius: 30px;
    padding: 20px;
    border: none;
    background-color: rgb(38, 28, 65);
    font-size: 1.2em;
}

.serachButton {

}

.searchOptionsButton {

}

.searchOptionsContainer {
    position: absolute;
    width: 100%;
    height: 0;
    margin: 0 auto;
    overflow: hidden;
    transition: height 0.2s ease-out;

    &.optionsOpen {
        height: 90px;
    }
}

.searchTypeButton {
    opacity: 0.5;
    transition: opacity 0.5s ease-out;

    &.active {
        opacity: 1;
    }
}
.postsTypeButton {
    background-color: rgb(19, 74, 146);
}
.subredditsTypeButton {
    background-color: rgb(136, 69, 14);
}



