#root {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

main {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

header {
    position: sticky;
    width: 100%;
    top: 40px;
    z-index: 2;
}

#logo {
  font-weight: 900;
}

.contentContainer {
    position: relative;
    top: 60px;
    z-index: 1;
}

.listContainer {
    text-align: left;
}

.listingContainer {
    display: grid;
    width: 100%;
    padding: 8px;
    border: 1px solid rgb(155, 155, 207);
    background-color: rgb(60, 34, 131);
    color:rgb(192, 212, 255);
    text-align: left;
    margin-bottom: 10px;
}

.linkDetails {
  display: flex;
  margin: 0 0 20px;
  text-align: left;
}

.subredditName {
  margin: 0 30px 0 0;
}

.subredditTab {
  margin-right: 14px;
}

.commentsContainer {
    text-align: left;
}

.commentsTitle {

}

.commentContainer {
    margin: 0 0 10px;
    padding: 10px 10px 10px 18px;
    border: 1px solid rgb(162, 162, 224);
    background-color: rgb(49, 38, 83);
}

.commentAuthor {
    font-size: 0.8em;
}

.commentScore {
    font-size: 0.7em;
}

.toggleRepliesButton {
  height: 24px;
  padding: 0 6px;
  background-color: blue;
  font-size: 0.7em;
}

.repliesContainer {
    margin-top: 20px;
    padding-left: 16px;
    border-left: 1px solid rgb(51, 51, 124);
    height: 0;
    overflow: hidden;
    transition: height 0.2s ease-out;
}

.selfText {
  margin: 0 0 40px;
  font-size: 1.2em;
}