

header {
  position: fixed;
  top: 0;
  left: 50%;
  width: 100%;
  padding: 0 10px;
  z-index: 2;
  transform: translateX(-50%);
  overflow: hidden;
  scrollbar-gutter: stable;
}
header::after {
  display: block;
  position: relative;
  width: 100%;
  max-width: 1260px;
  height: 4px;
  margin: 0 auto;
  background: linear-gradient(to right, transparent 0, white 10%, white 90% , transparent 100%);
  content: linear-gradient(transparent);
}

#headerContent {
  width: 100%;
  max-width: var(--max-content-width);
  margin: 0 auto;
}

#logo {
  font-size: 2em;
  font-weight: 500;
  font-variation-settings: "wdth" 112;
  letter-spacing: 0.4em;
  color: #7c78f0;
  transition: font-size 0.23s ease-in-out, font-variation-settings 0.23s ease-in-out, font-weight 0.23s ease-in-out, letter-spacing 0.23s ease-in-out;

  &.collapsed {
    font-size: 0.8em;
    font-weight: 360;
    font-variation-settings: "wdth" 125;
    letter-spacing: 0.6em;
  }
}

.logoContainer {
  margin-top: 20px;
  margin-bottom: 20px;
  transform: scaleX(1);
  transition: margin-top 0.23s ease-in-out, margin-bottom 0.23s ease-in-out, transform 0.23s linear;
  text-align: center;

  &.collapsed {
    margin-top: 5px;
    margin-bottom: 0px;
    transform: scaleX(1.6);
  }
}

.backgroundContainer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.loadingContainer {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.loadingTicker {
  width: 150px;
  image-rendering: pixelated;
}

#contentContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 200px 10px 100px;
  z-index: 1;
  --clip-top: 183px;
  --clip-top-collapsed: 87px;
  --clip-right: calc(100% - 20px);
  clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 var(--clip-top), var(--clip-right) var(--clip-top), var(--clip-right) 0);
  overflow-y: auto;
  transition: clip-path 0.24s ease-in-out;

  &.headerCollapsed {
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 var(--clip-top-collapsed), var(--clip-right) var(--clip-top-collapsed), var(--clip-right) 0);
  }
}

.listContainer {
  position: relative;
  text-align: left;
}

.listingContainer {
  width: 100%;
  max-width: var(--max-content-width);
  margin: 0 auto 24px;
  padding: 24px;
  border-radius: 40px;
  background-color: #f1efffbb;
  color: #001135;
  box-shadow: inset 0 0 100px -10px white;
  text-align: left;
}

.detailsContainer {
  display: flex;
  width: 100%;
  height: 36px;
  max-width: var(--max-content-width);
  margin: 6px auto;
  text-align: left;
  align-items: center;
}

.detailsTitle {
  margin: -2px 30px 0 0;
  font-size: 1.5em;
  font-weight: 320;
  font-variation-settings: "wdth" 106;
  letter-spacing: 0.03em;
}

.detailsTab {
  margin: 0 14px 0 0;
}

.linkContainerContainer {
  display: flex;
}

.linkContainer {
  width: 100%;
  margin-right: 10px;
}

.linkTitleContainer {
  margin: 10px 0;
  padding: 0 20px 0 0;
}

.thumbnailContainer {
  width: 72px;
  margin-right: 10px;
}
.thumbnail {
  max-width: 100%;
  max-height: 100%;
}

.linkTitle {
  color: #5892dd;;
  font-size: 1.3em;
  font-weight: 600;

  &.stickied {
    color: #009789;
  }
}

.linkTitle:hover {
  color: #8178ff;
}

.flair {
  display: inline;
  padding: 2px 4px;
  font-size: 0.7em;
  background-color: rgb(33, 23, 51);
  color: rgb(174, 160, 255);
  border: 1px solid rgb(145, 130, 229);
  margin-left: 10px;
}
.commentFlair {
  margin-left: 3px;
}

.flairImage {
  max-height: 10px;
}

.byLine {
  margin: 4px 0;
  font-size: 0.82em;
}
.byLine a {
  font-weight: 600;
}
.byLine p {
  display: inline;
}

.linkDomain {
  font-size: 0.9em;
}

.linkTag {
  padding: 2px 6px 3px;
  border-radius: 20px;
  color: white;
  font-size: 0.7em;
}
.nsfwTag {
  background-color: rgb(199, 77, 108);
}
.stickiedTag {
  background-color: #009789;
}

.linkDetailsContainer {
  margin: 10px 0 0;
  list-style: none;
  padding-inline-start: 0;
  font-size: 0.8em;
}
.linkDetailsContainer li {
  display: inline-block;
  margin: 0;
}
.linkDetailsContainer li + li::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  margin: 0 9px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: currentColor;
}
.linkDetailsContainer p {
  display: inline;
  margin: 0;
}

.bottomContainer {
  display: flex;
  justify-content: end;
}

.linkScoreContainer {
  margin-left: 14px;
}
.linkScoreContainer p {
  display: inline;
}
.linkScoreLabel {
  margin-right: 2px;
  font-size: 0.6em;
  font-weight: 800;
  font-style: italic;
  letter-spacing: 0.3em;
}
.linkScore {
  font-size: 0.9em;
}

.previewButton {
  font-size: 12px;
  width: 100%;
  padding: 0 8px;
  text-align: left;
}

.previewContainer {
  width: 100%;
  height: 0;
  margin-top: 0;
  overflow: hidden;
  transition: height 0.25s ease-out, margin-top 0.17s ease-out;
}

.commentsButtonContainer {
  width: 78px;
  margin: -5px -5px 0 8px;
  flex-shrink: 0;
}
.commentsButtonContainer a {
  display: block;
  padding: 10px;
  border-radius: 36px;
  text-align: center;
  box-shadow: 2px 2px 0 #0608203b, inset -4px -6px 10px -5px var(--light-blue);
  transform: translate(0) scale(1);
  transition: transform 0.2s cubic-bezier(.19,1,.22,1), box-shadow 0.6s cubic-bezier(.08,.82,.17,1);
}

.commentsButtonContainer a:hover {
  transform: translate(-3px, -3px) scale(1.1);
}

.commentsButton {
  min-height: 62px;
  margin-bottom: 8px;
  background-color: var(--blue);
  color: white;
}
.commentsButton:hover {
  box-shadow: 4px 4px 4px #06082021, inset -3px -5px 20px -1px var(--aqua);
  color: white;
}

.redditCommentsButton {
  padding: 14px;
  background-color: var(--light-blue);
  font-size: 11px;
  color: var(--purple);
}
.redditCommentsButton:hover {
  box-shadow: 4px 4px 4px #06082021, inset -4px -3px 16px -2px #d4fff9;
  color: var(--purple);
}

.commentsIcon {
  display: block;
  width: 100%;
  max-width: 32px;
  margin: auto;
  image-rendering: pixelated;
}
.commentsIcon path {
  fill: white;
}

.commentsPostInfo {
  width: 100%;
  max-width: var(--max-content-width);
  margin: 0 auto;
  text-align: left;
}

.commentContentContainer .bottomContainer {
  margin-top: 14px;
}

.commentsTitle {

}

.commentContainer {
    padding: 36px 2px 36px 36px;
}

.commentContentContainer {
  padding: 0 34px 0 0;
}

.commentBody {
  margin: 0 0 18px;
  font-size: 1.2em;
}

.commentScore {
    font-size: 0.7em;
}

.commentLinkTitle {
  color: rgb(186, 233, 255);
  font-size: 1.1em;
  font-weight: 600;

  &.stickied {
    color: rgb(237, 205, 255);
  }
}

.toggleRepliesButton {
  height: 24px;
  padding: 0 6px;
  background-color: blue;
  font-size: 0.7em;
}

.repliesContainer {
  overflow: hidden;
}

.repliesContainer .listContainer {
  border-radius: 40px;
  background-color: #f1efffd6;
  padding: 24px 2px 10px 24px;
  box-shadow: inset 0 0 100px -10px white, inset 1px 0 1px #5780bfab;
}

.repliesContainer .listingContainer {
  background-color: transparent;
  padding: 0;
  box-shadow: none;
}

.repliesContainer .listingContainer + .listingContainer::before {
  content: linear-gradient(transparent);
  display: block;
  height: 1px;
  margin: 0 0 20px;
  background-color: rgba(131, 141, 172, 0.5);
}

.selfText {
  margin: 0 0 40px;
  font-size: 1.2em;
}