

header {
  position: fixed;
  top: 0;
  left: 50%;
  width: 100%;
  padding: 0 10px;
  z-index: 2;
  transform: translateX(-50%);
  overflow: hidden;
  scrollbar-gutter: stable;
}
header::after {
  display: block;
  position: relative;
  width: 100%;
  max-width: 1260px;
  height: 4px;
  margin: 0 auto;
  background: linear-gradient(to right, transparent 0, white 10%, white 90% , transparent 100%);
  content: linear-gradient(transparent);
}

#headerContent {
  width: 100%;
  max-width: var(--max-content-width);
  margin: 0 auto;
}

#logo {
  font-size: 2em;
  font-weight: 500;
  font-variation-settings: "wdth" 112;
  letter-spacing: 0.4em;
  color: #7b6ef1;
  transition: font-size 0.23s ease-in-out, font-variation-settings 0.23s ease-in-out, font-weight 0.23s ease-in-out, letter-spacing 0.23s ease-in-out;

  &.collapsed {
    font-size: 0.8em;
    font-weight: 360;
    font-variation-settings: "wdth" 125;
    letter-spacing: 0.6em;
  }
}

.logoContainer {
  margin-top: 20px;
  margin-bottom: 20px;
  transform: scaleX(1);
  transition: margin-top 0.23s ease-in-out, margin-bottom 0.23s ease-in-out, transform 0.23s linear;
  text-align: center;

  &.collapsed {
    margin-top: 5px;
    margin-bottom: 0px;
    transform: scaleX(1.6);
  }
}

.backgroundContainer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.loadingContainer {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.loadingTicker {
  width: 150px;
  image-rendering: pixelated;
}

#contentContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0 10px;
  z-index: 1;
  --clip-top: 190px;
  --clip-top-collapsed: 91px;
  --clip-right: calc(100% - 20px);
  clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 var(--clip-top), var(--clip-right) var(--clip-top), var(--clip-right) 0);
  overflow-y: auto;
  transition: clip-path 0.24s ease-in-out;

  &.headerCollapsed {
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 var(--clip-top-collapsed), var(--clip-right) var(--clip-top-collapsed), var(--clip-right) 0);
  }
}

.listContainer {
  position: relative;
  padding: 200px 0 100px;
  text-align: left;
}

.listingContainer {
  width: 100%;
  max-width: var(--max-content-width);
  margin: 0 auto 30px;
  padding: 24px 12px;
  border-radius: 15px;
  background-color: #f1efffd6;
  color: #001135;
  text-align: left;
}

.detailsContainer {
  display: flex;
  width: 100%;
  max-width: var(--max-content-width);
  margin: 6px auto;
  text-align: left;
  align-items: first baseline;
}

.detailsTitle {
  margin: 0 30px 0 0;
  font-size: 1.5em;
  font-weight: 320;
  font-variation-settings: "wdth" 106;
  letter-spacing: 0.03em;
}

.detailsTab {
  margin: 0 14px 0 0;
}

.linkContainerContainer {
  display: flex;
}

.linkContainer {
  width: 100%;
  margin-right: 10px;
}

.linkTitleContainer {
  margin: 10px 0;
}

.thumbnailContainer {
  width: 72px;
  margin-right: 10px;
}
.thumbnail {
  max-width: 100%;
  max-height: 100%;
}

.linkTitle {
  color: #007eca;
  font-size: 1.3em;
  font-weight: 600;

  &.stickied {
    color: #009789;
  }
}

.linkTitle:hover {
  color: #8178ff;
}

.flair {
  display: inline;
  padding: 2px 4px;
  font-size: 0.7em;
  background-color: rgb(33, 23, 51);
  color: rgb(174, 160, 255);
  border: 1px solid rgb(145, 130, 229);
  margin-left: 10px;
}
.commentFlair {
  margin-left: 3px;
}

.flairImage {
  max-height: 10px;
}

.byLine {
  margin: 4px 0;
  font-size: 0.75em;
}
.byLine a {
  font-weight: 600;
}
.byLine p {
  display: inline;
}

.linkDomain {
  font-size: 0.9em;
}

.linkTag {
  padding: 2px 6px 3px;
  color: white;
  font-size: 0.7em;
}
.nsfwTag {
  background-color: rgb(199, 77, 108);
}
.stickiedTag {
  background-color: #009789;
}

.linkDetailsContainer {
  margin: 10px 0 0;
  list-style: none;
  padding-inline-start: 0;
  font-size: 0.8em;
}
.linkDetailsContainer li {
  display: inline-block;
  margin: 0;
}
.linkDetailsContainer li + li::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  margin: 0 9px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: currentColor;
}
.linkDetailsContainer p {
  display: inline;
  margin: 0;
}

.bottomContainer {
  display: flex;
  justify-content: end;
}

.linkScoreContainer {
  margin-left: 14px;
}
.linkScoreContainer p {
  display: inline;
}
.linkScoreLabel {
  margin-right: 2px;
  font-size: 0.6em;
  font-weight: 800;
  font-style: italic;
  letter-spacing: 0.3em;
}
.linkScore {
  font-size: 0.9em;
}

.previewButton {
  font-size: 12px;
  width: 100%;
  padding: 0 8px;
  text-align: left;
}

.previewContainer {
  width: 100%;
  height: 0;
  margin-top: 0;
  overflow: hidden;
  transition: height 0.25s ease-out, margin-top 0.17s ease-out;
}

.commentsButtonContainer {
  width: 90px;
  margin: 5px;
}
.commentsButtonContainer a {
  display: block;
  padding: 8px;
  text-align: center;
  color: white;
  box-shadow: 2px 2px #060820a6;
}

.commentsButton {
  min-height: 62px;
  background-color: #201f2e;
  margin-bottom: 8px;
}
.redditCommentsButton {
  padding: 14px;
  font-size: 10px;
  background-color: #3e526e;
}

.commentsIcon {
  display: block;
  width: 100%;
  max-width: 32px;
  margin: auto;
  image-rendering: pixelated;
}

.commentsContainer {
    text-align: left;
}

.commentContentContainer .bottomContainer {
  margin-top: 14px;
}

.commentsTitle {

}

.commentContainer {
    padding: 10px 2px 14px 14px;
    background-color: rgb(49, 38, 83);
}

.commentContentContainer {
  padding: 0 12px 0 0;
}

.commentBody {
  margin: 8px 0 18px;
  font-size: 1em;
}
.commentBody p {
  margin: 0 0 10px;
}

.commentScore {
    font-size: 0.7em;
}

.commentLinkTitle {
  color: rgb(186, 233, 255);
  font-size: 1.1em;
  font-weight: 600;

  &.stickied {
    color: rgb(237, 205, 255);
  }
}

.toggleRepliesButton {
  height: 24px;
  padding: 0 6px;
  background-color: blue;
  font-size: 0.7em;
}

.repliesContainer {
    padding-left: 10px;
    border-left: 1px solid #6565a7;
}

.selfText {
  margin: 0 0 40px;
  font-size: 1.2em;
}