* {
  box-sizing: border-box;
}

:root {
  font-family: "Fredoka", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.3;
  font-weight: 400;
  font-variation-settings:
    "wdth" 100;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --max-content-width: 840px;

  --purple: #7c78f0;
  --dark-purple: #423559;
  --aqua: #7ff0d4;
  --teal: #78def0;
  --blue: #5b85f0;
  --light-blue: #c2dbff;

  color: var(--dark-purple);
}

a {
  font-weight: 500;
  color: #6837d5;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  overflow: hidden;
}

p {
  margin: 0;
}

p + p {
  margin: 1em 0 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

input {
  outline: none;
}

button {
  border: 0px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s, border-width 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

blockquote {
  padding: 4px 0 6px 12px;
  margin: 0;
  border-left: 24px groove #97ace7b9;
  background-image: linear-gradient(to right, #aab0d846 50%, #ffffff00);
}

blockquote p {
  margin: 0;
}
blockquote + p {
  margin: 1em 0 0;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}